{% extends 'layouts/app.html.twig' %}

{% block title %} Books {% endblock %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white bg-secondary rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h2 mb-0 text-white lh-1">Книги</h1>
        </div>
    </div>
    <div class="row mb-2">
        {% for book in booksPagination %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ book.name }}</h3>
                    {% for author in book.authors %}
                    <div class="mb-0 text-body-secondary">{{ author.lastName }}</div>
                    {% endfor %}
                    <div class="mb-3 text-body-secondary">{{ book.publisher.name }}</div>
                    {# <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p> #}
                    <a href="{{ path('book_show', { 'id': book.id }) }}" class="stretched-link">Перейти к книге</a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(booksPagination) }}
        </div>
    </div>

    {{ include('partials/footer.html.twig') }}
{% endblock %}
